* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-optical-sizing: auto;
    font-family: "Golos Text", sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: relative;
}

header > img {
    margin-left: 2vw;
    height: 60px;
    margin-top: 20px;
}

header > span {
    font-size: 60px;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 600;
    color: #031732;
}

main {
    width: 70vw;
    margin: 5vh auto 1vh;
    background-color: #ffffff;
    border-radius: 10px;
}

main > * {
    padding-left: 6.5%;
    padding-right: 6.5%;
}

.list-menu {
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: #f6f8f9;
}

.list-menu > .button {
    font-size: 1rem;
    color: #cfd4d8;
    text-align: center;
    background-color: #ffffff;
    padding: 0.5rem;
    border: 2px solid #cfd4d8;
    border-radius: 0.5rem;
    display: inline-block;
}

.list-menu > .button:hover {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    background-color: #47adf1;
    padding: 0.5rem;
    border: 2px solid #47adf1;
    border-radius: 0.5rem;
    display: inline-block;
}